<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Trace</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='plugins/bootstrap.min.css') }}">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/layout.css') }}">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/style.css') }}">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='plugins/bootstrap-colorpicker.min.css') }}">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='plugins/font-awesome.min.css') }}"> {% block css %} {% endblock %}
</head>

<body>

    <body>
        <div class="container-fluid">
            {% include 'side_nav.html' %}
            <div id="main">
                {% include 'top_navigation.html' %} {% block body %}{% endblock %}
            </div>
        </div>
    </body>
    <script type="text/javascript" src="{{ url_for('static', filename='plugins/jquery.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='plugins/bootstrap-colorpicker.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='plugins/bootstrap.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='plugins/FileSaver.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='plugins/jszip.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/script.js') }}"></script>
    {% block scripts %} {% endblock %}
</body>
