<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a><span style="font-size: 20px;cursor:pointer" onclick="openNav()">&#9776;</span></a></li>
                <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">File<span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li>
                            <a>
                                <input type="file" name="file" id="fileChooser" class="inputfile" />
                                <label for="fileChooser">Choose a file</label>
                            </a>
                        </li>
                        <li class="dropdown-submenu">
                            <a class="test" tabindex="-1" href="#">Create a blank project</a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a tabindex="-1">
                                        <label for="width">Width</label>
                                        <input class="form-control" id="width" value="400" placeholder="opacity" type="number" min="1" step="1" />
                                        <label for="height">Height</label>
                                        <input class="form-control" id="height" value="400" placeholder="opacity" type="number" min="1" step="1" />
                                        <button id="createBlankProject" type="button" class="btn">Create</button>
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
                </li>
                <li><a onclick="clearCanvas(true)">Clear</a></li>
                <li><a id="animate">Animate <i class="fa fa-play fa-lg" aria-hidden="true"></i></a></li>
                <li><a id="undo"><i class="fa fa-undo fa-lg" aria-hidden="true"></i></a></li>
                <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Animation Effects</i><span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li>
                            <a>
                                <div id="simult" class="checkbox">
                                    <label>
                                        <input onclick="simultaneousOptions()" type="checkbox" id="simultaneous" value="1">Simultaneous</label>
                                </div>
                            </a>
                        </li>
                    </ul>
                </li>
                <li><a><i id="zoomIn" class="fa fa-plus fa-lg" aria-hidden="false"></i></a></li>
                <li><a><i id="zoomOut" class="fa fa-minus fa-lg" aria-hidden="false"></i></a></li>
                <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-paint-brush fa-lg" aria-hidden="true"></i><span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li class="colorpicker">
                            <a>
                                <div id="cp2" class="input-group colorpicker-component">
                                    <input type="text" value="#00AABB" class="form-control" />
                                    <span class="input-group-addon"><i></i></span>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a>
                                <label for="opacity">Opacity</label>
                                <input class="form-control" id="opacity" value="0.5" placeholder="opacity" type="number" max="1" min="0" step="0.1" />
                            </a>
                        </li>
                        <li>
                            <a>
                                <label for="strokeWidth">Stroke Width</label>
                                <input class="form-control" id="strokeWidth" value="12" placeholder="stroke width" type="number" min="0" step="1" />
                            </a>
                        </li>
                    </ul>
                </li>
                <li><a onclick="sendData()"><i class="fa fa-download fa-lg" aria-hidden="true"></i></a></li>
            </ul>
        </div>
    </div>
</nav>
